<h1>New Post</h1>
<form class="" action="<%=posts_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label for="title"></label>
  <input id="title" type="text" name="post[title]" placeholder="Title">
  <label for="url"></label>
  <input id="url" type="text" name="post[url]" placeholder="URL">
  <label for="content"></label>
  <input type="text" name="post[content]" placeholder="Content">
  <input type="submit">
  <% @subs.each do |sub| %>  <br>
    <input type="checkbox"
    <%= "checked" if @post.subs.include?(sub) %>
    name="post[sub_ids][]"
    value="<%= sub.id %>"> <%= sub.title %>
  <% end %>
</form>
