<h1>Comment show page</h1>

<p>Add a reply to this comment:</p>
<form action="<%=comments_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%=@comment.id %>">
  <input type="hidden" name="comment[link]" value="<%=@comment.id %>">
  <label for="content"> Content
  <input type="text" name="comment[content]" value="<%=  %>">
  </label>
  <input type="submit">
</form>
